
// 默认模式配置
.normal_bg_color{
	background-color: #F8F9FB;
}
.normal_box_bg_color{
	background-color: #FFFFFF;
}
.normal_box_line_color{
	background-color: #F8F9FB;
}

// 黑暗模式 配置
.dark_bg_color{
	background-color: #000000;
}
.dark_box_bg_color{
	background-color: #2D2D2D;
}
.dark_box_line_color{
	background-color: #000000;
}
