
// 默认模式配置
.normal_bg_color{
	background-color: #F8F9FB !important;
}
.normal_box_bg_color{
	background-color: #FFFFFF !important;
}
.normal_box_line_color{
	background-color: #F8F9FB !important;
}

// 粉色系
.pink_bg_color{
	background-color: #F8F9FB !important;
}
.pink_box_bg_color{
	background-color: #FFFFFF !important;
}
.pink_box_line_color{
	background-color: #F8F9FB !important;
}

// 黑暗模式 配置
.dark_bg_color{
	background-color: #000000 !important;
}
.dark_box_bg_color{
	background-color: #2D2D2D !important;
}
.dark_box_line_color{
	background-color: #000000 !important;
}
