
 // 圆角定义规范 
$lf_radius_box_two: 4rpx;
$lf_radius_box_four: 8rpx;
$lf_radius_box_five: 10rpx;
$lf_radius_box_six: 12rpx;
$lf_radius_box_eight: 16rpx;
$lf_radius_box_ten: 20rpx;

 // 颜色定义规范
 $theme_color:#C0E8B9;//主题颜色配置
 $main_color:#0771DB;//主体颜色配置
 
 $bg_color:#EEEEEE;
 $one_font_color:#818181;//默认的一号字体
 $two_font_color:#828282;//默认的二号字体
 $three_line_color:#BBBBBB;//默认三号字体

 

// 字体定义规范
$lf_font_size_ten: 20rpx;
$lf_font_size_twelve: 24rpx;
$lf_font_size_thirteen: 26rpx;
$lf_font_size_fourteen: 28rpx;
$lf_font_size_fifteen: 30rpx;
$lf_font_size_sixteen: 32rpx;
$lf_font_size_eighteen: 36rpx;
$lf_font_size_twenty: 40rpx;

 // 边框阴影配置
$lf_box_shadow_gray: 0 1rpx 10rpx rgba(0, 0, 0, 0.2);

// 图片大小尺寸
$lf_thirty_size: 30rpx;
